{% extends "base.html" %}
{% load static %}

{% block title %}Bejelentkezés - ESG AutoReport{% endblock title %}


{% block content %}
<div class="login-page-container">
    <div class="login-box">
        <h2>Bejelentkezés</h2>

        {% if form.errors and not form.non_field_errors %}
            {% if form.non_field_errors %}
                 <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                 <p class="errorlist">Kérjük, javítsa az alábbi hibá(ka)t.</p>
            {% endif %}
        {% endif %}
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Felhasználónév:</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Jelszó:</label>
                {{ form.password }}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <p><button type="submit" class="btn btn-cta">Bejelentkezés</button></p>
        </form>
        <hr>
        <div class="sub-links">
            <p>Még nincs fiókod? <a href="{% url 'accounts:signup' %}">Regisztrálj itt!</a></p>
            {# <p><a href="{% url 'password_reset' %}">Elfelejtetted a jelszavad?</a></p> #}
        </div>
    </div>
</div>
{% endblock content %}